<div class="center">
  <h2 class="shipping-message">
    <span data-tippy-content="We offer free shipping on all orders over $99. Reimbursement of shipping charges may be applicable for returns. " aria-describedby="ui-id-50">Free Shipping on Orders Over $99</span>
  </h2>
  <div class="trust-bar">
    <span data-tippy-content="We guarantee the lowest price for all items on our website. We will match any competitors price. The Best Price Guarantee ensures you will have the best price up to 30 days after purchase. ">Best Price Guarantee 
        
    </span>
    <span class="divider-vertical"></span>
    <span data-tippy-content="All items may be returned for a refund within 30 days of purchase. Items may be subject to a 10% restocking fee and reimbursement of free shipping may be applicable. Contact us via email at sales@livingwateraeration.com for instructions on how to return an item. ">Return Policy</span>
  </div>
</div>

<div class="product-messages">
  <div class="product-message instant-redomendation-btn">
    <i class="icon icon-recommendation"></i>
    <a class="chat-button stretched-link" href="https://share.hsforms.com/1y2mWPJbLR325J8-QjUMvJwdd5ww" target="_blank"><span>Get Instant Aerator Recommendation</span></a>
  </div>
  <div class="product-message pond-btn">
      <i class="icon icon-calc"></i>
      <div>
        <a class="stretched-link" href="/pages/pond-calculator" target="_blank">
          <span>Pond Calculator</span><br>
          <small>(Surface Area and Volume)</small>
        </a>
      </div>
  </div>
</div>
